<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= image_tag(@spot.image.url) if @spot.image.present? %>
    <%= form.label :image %>
    <%= form.file_field :image ,accept: 'image/jpeg,image/gif,image/png' %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :address, "住所", class: 'spot__title' %>
    <%= form.text_field :address, placeholder: "住所を入力", id: "address", class: 'spot__text' %>
    <input onclick="codeAddress()" type="button" value="search"></input>
    <div class="map" id="map" style="height: 320px; width: 640px;"></div>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
