<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.title %></td>
        <td><%= card.description %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" %>
<%= javascript_include_tag 'https://unpkg.com/vis-network/standalone/umd/vis-network.min.js' %>
<div id="network"></div>
<%= javascript_pack_tag 'vis' %>
<%= link_to 'New Card', new_card_path %>
